@import "./reset.css";

* {
  box-sizing: border-box;
}

/* 전체 페이지 */
#root {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* 페이지 배경 설정 */
#root::before {
  content: "";
  background-image: url("../asset/img/root_bg.jpg");
  background-size: cover;
  position: absolute;
  opacity: 0.7;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

/* 페이지 헤더 */
#header {
  width: 100%;
  height: 5%;
  position: relative;
  border: 2px solid white;
  border-radius: 4px;
}

/* 메인 컨텐츠 */
#main {
  width: 90%;
  height: 90%;
  position: relative;
  border: 2px solid white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* 페이지 푸터 */
#footer {
  width: 100%;
  height: 5%;
  position: relative;
  border: 2px solid white;
  border-radius: 4px;
}

/* Map, Question, Result section*/
#mapSection,
#questionSection,
#resultSection {
  border: 1px solid yellow;
  border-radius: 4px;
}

/* Map Section */
#mapSection {
  width: 100%;
  height: 50%;
}

/* Question Section */
#questionSection {
  width: 100%;
  height: 10%;
}

/* Result Section */
#resultSection {
  width: 100%;
  height: 40%;
}
